*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    
}

header, footer{
    background-color: antiquewhite;
    color: aliceblue;
    padding: 1rem;
    text-align: center;
}

main{
    display: grid;
    grid-template: auto/ auto 1fr auto ;
    gap: 1rem;
    flex-grow:1 ; 
    padding: 1rem;
}

.sidebar{
    background-color: antiquewhite;
    padding: 1rem;
}
.left-sidebar{
    grid-column: 1/2;
}

.right-sidebar{
    grid-column: 3/4;
}
.content{
    grid-column: 2/3;
}
