*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    
}

header, footer{
    background-color: antiquewhite;
    color: rgb(0, 0, 0);
    padding: 1rem;
    text-align: center;
}

main{
    display: grid;
    grid-template: 2fr/1fr;
    gap: 1rem;
    flex-grow:1 ; 
    padding: 1rem;
    text-align: center;
    max-width: fit-content;
}
.card{
    background-color: antiquewhite;

}
.resources{
    background-color: antiquewhite;
}

 nav {
	background-color: #36454f;
	margin: 0 auto;
	max-width:fit-content;
}
nav ul {
    display: flex;
	list-style-type: none;
    gap: 1rem;
}
nav a {
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	text-decoration:overline;
}

.active {
	color: yellow;
}
 