.roboto-thin {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: normal;
}
    
.roboto-light {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
}
    
.roboto-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  }
    
.roboto-medium {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}
    
.roboto-bold {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}
    
.roboto-black {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: normal;
}
    
.roboto-thin-italic {
  font-family: "Roboto", serif;
  font-weight: 100;
      font-style: italic;
    }
    
    .roboto-light-italic {
      font-family: "Roboto", serif;
      font-weight: 300;
      font-style: italic;
    }
    
    .roboto-regular-italic {
      font-family: "Roboto", serif;
      font-weight: 400;
      font-style: italic;
    }
    
    .roboto-medium-italic {
      font-family: "Roboto", serif;
      font-weight: 500;
      font-style: italic;
    }
    
    .roboto-bold-italic {
      font-family: "Roboto", serif;
      font-weight: 700;
      font-style: italic;
    }
    
    .roboto-black-italic {
      font-family: "Roboto", serif;
      font-weight: 900;
      font-style: italic;
    }

header,main,footer{
  max-width: 600px;
  margin:1rem auto;
  border: 1px solid lightgrey;
  padding: 1rem;
  background-color: aqua;
}


main{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}
section{
  padding:1rem;
  background-color: aliceblue;
}

@media screen and (min-width: 500px)
{header{
  background-color: black;
  color: white;
  grid-template-columns: 1fr 1fr;
}
}


